body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: sans-serif;
	background-image: url('./sw-bg.jpg');
	background-size: cover;
	background-color: snow;
	position: absolute;
}

/* div#root {
	margin: 0;
	width: 50%;
}

div.App {
	margin: 0;
	width: 100%;
}

div.cardData {
	margin: 0;
	width: 100%;
}

div.characterCard {
	margin: 0;
	width: 100%;
} */
